@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  &__date {
    font-style: italic;
    margin-top: 5px;
  }

  font-size: $typographic-small-font-size;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;

}
